*.class
MailSenderAssembler.jar
dist/*.jar

.settings/*
.settings/*.prefs
ownconfig

docs/*.html
docs/*.css
docs/resources/*
docs/package-list
docs/com/tdtsh/merusen/*/*.html

bin/*

.svn

.DS_Store

*.class
dist/daily-log
id_dsa
known_hosts
